        <head>
        <meta charset="utf-8">
        <center>
            <title style="color:#D8D8D8">
            Rental Comparison</title>
        </center>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        </head>

        <body>
            <center>
            <style>
                body {background-color:#000000; color:white; font-size:150%}
                br {style-color:#D8D8D8"}
            </style>
<div class="w3-row">
        <FORM value="form" action="analysis_post" method="post">
        Price:<INPUT type="Price" name="price"><br>
        HOA:  <INPUT type="HOA" name="hoa"><br>
        Rent: <INPUT type="Rent Estimate" name="rent"><br>
	Down Payment % <INPUT type="Down Payment" name="dp" value='20'><br>
	Interest: <INPUT type="Interest" name="rate" value='4.25'><br>
        <INPUT type="submit" value="Send"> <INPUT type="reset"></center>

    </FORM>
</div>
</body>
