{% extends "layout.html" %}
 
{% block content %}

  <form action="{{ url_for('apply') }}" method=post>
    {{ form.hidden_tag() }}
<!--<table width="1000"><tr><td>-->
    {{ form.name.label }}
    {{ form.name }}
      {% for message in form.name.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

        {{ form.email.label }}
    {{ form.email }}
      {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

        {{ form.pets.label }}
    {{ form.pets }}
      {% for message in form.pets.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

    <br><br>
    {{ form.submit }}
  </form>
{% endblock %}
