<HTML>
<HEAD>
<TITLE>www.tmagill.net</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<H1><CENTER>FOR RENT</H1></CENTER>
<h2>4415 Estrella Ave, Unit 3, San Diego, CA, 92115</h2><BR>
<img src="static/2016-09-13_22-01-56.jpg" width="300">
<img src="static/2016-09-13_22-03-29.jpg" width="300">
<img src="static/2016-09-13_22-06-27.jpg" width="300"><BR>
<img src="static/2016-09-13_22-07-01.jpg" width="300">
<img src="static/2016-09-13_22-08-30.jpg" width="300">
<BR><BR></p>
To submit an application for 4415 Estrella Ave, Unit 3:<BR>
<a href="http://www.tmagill.net/estrella">Estrella Rental Docs</a>
<BR><BR>
Please complete and sign both documents and email to <a href="mailto:estrella@tmagill.net">estrella@tmagill.net</a>
or
<H2><a href="./apply">Apply Online</a></H2>
</BODY>
</HTML>
