<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Screening Instructions</title>
</head>
<body>
<H1>Application Accepted.  What is next?</H1>
After submitting the application, you will receive an email from TransUnion Smartmove. If you have not received and email within 24 hours of submitting the application by email please check your junk mail folders. If you do not see it, contact estrella@tmagill.net.
Once you receive the email, it will contain a link to set up an account and will request some basic information. TransUnion will run a credit and background check. If you have a bankruptcy within the last 36 months, your application will be automatically rejected.
There is a screening fee of $35, which is refunded if a lease is executed.</H1>p>
<H2>FREQUENTLY ASKED QUESTIONS:</H2>
<H3>WILL THIS SCREENING PROCESS IMPACT MY CREDIT SCORE?</H3>
No. This is one of the things that makes SmartMove such a valuable tenant screening service. Since the rental applicant initiates the release of his or her own data, the resulting inquiry is considered a “soft inquiry,” which does not impact his or her credit score. On the other hand, when a landlord initiates a credit check on a rental applicant, it results in a “hard inquiry” on the applicant’s credit report which can negatively impact his or her overall score depending on other variables. (This is similar to the process involved when a consumer applies for a loan or a credit card.)
<H3>WHO HAS ACCESS TO MY CREDIT AND/OR CRIMINAL RECORD INFORMATION?</H3>
Only those landlords to whom the renter grants permission will have access to the renter’s credit and criminal record information.
<H3>WHAT SPECIFICALLY DOES A LANDLORD SEE AND WHAT DON’T THEY SEE?</H3>
SmartMove provides landlords with a leasing recommendation based on factors related to a potential tenant’s ability to fulfill lease obligations. In addition, SmartMove offers landlords the option to view a renter’s credit and criminal background data. However, none of these services affect the renter’s credit score and they do not include personal identifying information such as their Social Security number or account numbers
<H3>CAN I GET A COPY OF MY CRIMINAL AND/OR CREDIT REPORT(S) PROVIDED TO THE LANDLORD?</H3>
Yes, SmartMove will disclose the contents of a criminal and/or credit report retained by SmartMove to an individual who requests a copy of their report. To verify your identity
</body>
</html>